html{
    background-color: #22262A;
    color:white;
    
}
.all{
    font-family: sans-serif;
}
.header{
    height: 30%;
}
.links{
    margin-top: 3%;
    height: 20%;
    text-align: center;
}
.links img{
    width: 15%;
}
.content{
    height: 70%;

}
.ppp{
height 10%;
text-align: center;
}
#ppp{
    width: 5%;
}
.links img{
opacity:0.3;
transition: 1s ease;
}

.links img:hover{
opacity:1;
transition: 0.7s ease;
}
.giveaway{
    text-align: center;
    height: 50%;
    width: 25%;
    border-style: solid;
    border-color: gray;
    margin: auto;
}
.giveaway img{
    width: 80%;
}
h1, h3{
    text-align: center;
    margin-bottom: 3%;
    font-size: 200%;
}

